.field {
	/*width: 100%;*/
	float: right;
	margin: 0 0 20px;
}

.field input {
	margin: 0 0 0 20px;
}

h3 span {
	background: #444;
	color: #fff;
	padding: 3px;
}

pre {
	background: #f4f4f4;
}

.cb-enable,.cb-disable,.cb-enable span,.cb-disable span {
	background: url(switch.gif) repeat-x;
	display: block;
	float: left;
}

.cb-enable span,.cb-disable span {
	line-height: 30px;
	display: block;
	background-repeat: no-repeat;
	font-weight: bold;
}

.cb-enable span {
	background-position: left -90px;
	padding: 0 10px;
}

.cb-disable span {
	background-position: right -180px;
	padding: 0 10px;
}

.cb-disable.selected {
	background-position: 0 -30px;
}

.cb-disable.selected span {
	background-position: right -210px;
	color: #fff;
}

.cb-enable.selected {
	background-position: 0 -60px;
}

.cb-enable.selected span {
	background-position: left -150px;
	color: #fff;
}

.switch label {
	cursor: pointer;
}
.switch-single {
    background-color: #e6e6e7;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    font-family: tahoma;
    font-stretch: ultra-expanded;
    height: 22px;
    line-height: 21px;
    padding: 0 8px;
    width: 26px;
}
.mode {
    display: none;
    font-size: 14pt;
    position: absolute;
    font-family: tahoma;
}
.mode.active {
    display: block;
}


.wl-switch {
    display: inline-block;
    float: right;
    height: 15px;
    position: relative;
    width: 34px;
    margin: 9px;
}
.wl-switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
   background-color: white;
   bottom: 4px;
   content: "";
   height: 8px;
   left: 4px;
   position: absolute;
   transition: all 0.4s ease 0s;
   width: 11px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}