.date-picker {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px rgba(153, 153, 153, 0.3);
	min-height: 25px;
	background: #fff none repeat scroll 0 0;
}
.calendar-icon ,.date-remove-icon {
	text-align: center !important;
	width:22px !important;
	margin-top: 3px;
}