.process-step-chart{

}
.process-step-chart .steps {
    direction: rtl;
    padding-right: 6px;
}
.process-step-chart .step{
	height: 350px;
	position: relative;
	width: 180px;
    float: right;
    margin-right: 10px;	    
}
.process-step-chart .step[status='disabled'] .step-sign{
    background-color: #DDD;
    border:3px solid #CCC;
}
.process-step-chart .step[status='disabled'] .step-item{
    background-color: #DDD;
}
.process-step-chart .selector {
    bottom: 8px;
    position: absolute;
    right: 46%;
}
.process-step-chart .step:first-child:before {
    border-right: 2px solid #999;
    right: 12px;
}
.process-step-chart .step:last-child:before {
    left: 28px;
}
.process-step-chart .step:last-child:after {
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 20px 33px 20px 0;
    bottom: 5px;
    content: "";
    height: 0;
    left: 10px;
    position: absolute;
    width: 0;
}
.process-step-chart .step:before {
    background-color: #fff;
    border-bottom: 2px solid #999;
    border-top: 2px solid #999;
    bottom: 12px;
    content: "";
    height: 20px;
    position: absolute;
    width: 120%;
}
.process-step-chart .step-items {
    height: 100%;
    padding-top: 43%;
}
.process-step-chart  .step-sign{
    background-color: #fff;
    border: 4px solid #ccc;
    border-radius: 50%;
    height: 100px;
    left: 23%;
    position: absolute;
    top: 15px;
    width: 100px;
}

.process-step-chart .step-sign .text {
    margin: auto;
    max-width: 80px;
    padding: 10px 12px;
    text-align: center;
    white-space: normal;
}
.process-step-chart .step-sign .text span{
	line-height: normal;
}
.process-step-chart .step-item {
    background-color: red;
    border-top: 3px solid #ccc;
    height: 100%;
    width: 100%;
}
.process-step-chart .value{
	margin-right: 0px;
}
.process-step-chart .step-form{
	padding-top: 60px;
}
.process-step-chart .step-form input{
	width: 100%!important;
	text-align: center;
	margin-bottom: 8px;
}