
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 19px -2px rgba(105, 101, 105, 1);
	-moz-box-shadow: 0px 0px 19px -2px rgba(105, 101, 105, 1);
	box-shadow: 0px 0px 19px -2px rgba(105, 101, 105, 1);
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
	font-family: 'Yekan';
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 92%;
	display: block;
	border: 0;
	padding: 0;
	margin-top: 25px;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
	background-color: #D0D0D0;
	opacity: 0.5 !important;
	filter: alpha(opacity = 50);
}

#colorbox {
	outline: 0;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
/*#cboxTopLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(images/border.png) 0 -29px repeat-x;}*/
#cboxContent {
	background: #fff;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 38px -8px rgba(181, 174, 181, 1);
	-moz-box-shadow: 0px 0px 38px -8px rgba(181, 174, 181, 1);
	box-shadow: 0px 0px 38px -8px rgba(181, 174, 181, 1);
}

.cboxIframe {
	background: #fff;
}

#cboxError {
	padding: 50px;
	border: 0px solid #ccc;
}

#colorbox:hover {
	background-color: #EFEFEF;
}

#cboxLoadedContent {
	margin-top: 13px!important;
}


#cboxTitle {
	background-color: #4190e0!important;
	background-image:none!important;
	background-repeat: repeat-x;
	border-bottom: 1px solid #dfdfdf;
	border-top: 1px solid #d2d2d2;
	box-shadow: 0 1px 0 0 #fff inset;
	color: #fff!important;
	font-family: "B Koodak";
	font-size: 15px;
	font-weight: 800;
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	top: -3px!important;
	width: 100%;
	height: 36px;
}

#cboxCurrent {
	position: absolute;
	bottom: 4px;
	left: 58px;
	color: #949494;
	direction: rtl;
}

#cboxLoadingOverlay {
	background: url(images/loading_background.png) no-repeat center center;
}

#cboxLoadingGraphic {
	background: url(images/loading.gif) no-repeat center center;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active,
	#cboxClose:active {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	bottom: 4px;
	right: 30px;
	color: #0092ef;
}

#cboxPrevious {
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(images/controls.png) no-repeat -75px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxPrevious:hover {
	background-position: -75px -25px;
}

#cboxNext {
	position: absolute;
	bottom: 0;
	left: 27px;
	background: url(images/controls.png) no-repeat -50px 0;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
}

#cboxNext:hover {
	background-position: -50px -25px;
}

 #cboxClose{position:absolute; top:0; right:0; background:url(images/cross.png) no-repeat -99px 0; width:25px; height:25px; text-indent:-9999px; background-position:center;}
/*#cboxClose:hover{background-position:-25px -25px;}*/

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight,
	.cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight,
	.cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,
		endColorstr=#00FFFFFF);
}
